.signup-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 30vw;
  height: 100vh;
  min-width: 500px;
  padding: 30px;
  overflow: hidden;

  border-radius: 10px;
  color: black;
  background-color: #ffffff;
}

.signup-heading{
  display: flex;
  justify-content: center;
  align-content: center;
  color: black;
  transform: translateX(-5%);
}

.signup-heading > img{
  width: 80px;
  height: 80px;
  pointer-events: none;
}

.signup-heading > p{
  font-size: 32px;
  font-weight: 900;
  color: black;
}


.signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-info{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-info > label{
  display: inline-block;
  text-align: right;
  font-size: 14px;
  padding-right: 30px;
  width: 100px;
  color: black;
}


.user-info > input{
  color: black;
  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  width: 250px;
  padding: 15px;
  box-sizing: border-box;
}

.signup-form > input::placeholder{
  color: lightgray;
}

.signup-form > input:focus{
  border: 1px solid darkgray;
  outline: none;
}

.signup-button{
  width: 400px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f9e000;
  color: black;
  cursor: pointer;
}

.signup-button:disabled{
  border-color: lightgray solid 0.5px;
  background-color: white;
  color: lightgray
}